[workspace]
resolver = "2"

members = [ "app" , "base", "worker"]

[patch.crates-io]
miniquad = { path = "../miniquad"}

[profile.release]
opt-level = 3
#lto = true
#codegen-units = 1
#debug=true #careful with code size